<div>
  <img class="signup-background" src="../../../public/login/pexels-photo-207896.jpeg" alt="">
</div>
<div class="signup-frame">
  <div class="signup-panel">
    <form>
      <div class="input-group firstname">
        <label for="firstname" class="label-text firstname">What is your first name?</label>
        <input type="text" class="input firstname" placeholder="#baba_jimmy">
      </div>
      <div class="input-group lastname">
        <label for="lastname" class="label-text lastname">What is your last name?</label>
        <input type="text" class="input lastname" placeholder="#baba_jimmy">
      </div>
      <div class="input-group email">
        <label for="email" class="label-text email">What is your email address?</label>
        <input type="text" class="input email" placeholder="#baba_jimmy">
      </div>
      <div class="input-group handle">
        <label for="handle" class="label-text handle">Choose a suitable handle:</label>
        <input type="text" class="input handle" placeholder="e.g. #baba_jimmy">
      </div>
      <div class="input-group password">
        <label for="" class="label-text password">Password:</label>
        <input type="password" class="input password" placeholder="********">
      </div>
      <div class="input-group password-conf">
        <label for="password-conf" class="label-text password-conf">Confirm your password:</label>
        <input type="password" class="input password" placeholder="********">
      </div>
    </form>
  </div>
</div>
