.login-background {
	height: 810px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	z-index: 1;
	position: absolute;
}

.login-panel {
	width: 350px;
	position: relative;
	z-index: 50;
	top: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}