#navbar {
	width: 100%;
	z-index: 100;
	/* box-shadow: 1px 1px 1px #333; */
	position: absolute;
}

.navbar-items {
	height: 95%;
	background-color: rgba(0, 114, 255, 0.2);
	box-shadow: 1px 1px 1px #333; 
}

.navbar-body {
	height: 68px;
}

/*
.navbar-frame {
	height: 1%;
	background-color: #ce6363;
	box-shadow: 1px 1px 1px #111;
}
*/

#logo {
	width: 150px;
	padding-left: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 25px;
	/* border-right: 1px solid #bda5a5; */
	/* box-shadow: 1px 3px 10px #988a8a; */
}

.logo-text {
	margin: 0px;
	font-family: 'Sacramento';
	color: #ce6363;
	text-shadow: 0.5px 0.5px 0.5px #424141;
}

